@keyframes BtnToUp {
  0% {
    opacity: 0;
    transform: translateY(6rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes RightToleft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #777777;
  display: inline-block;
  padding: 1.5rem 4rem;
  background: white;
  border-radius: 5rem;
  transition: all 0.3s;
  position: relative;
  font-size: 2rem;
}
.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}
.btn:active {
  transform: translateY(-2px);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}
.btn::after {
  content: "";
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}
.btn_animated {
  animation: BtnToUp 0.5s ease-out 0.7s;
  animation-fill-mode: backwards;
}

.row {
  max-width: 114rem;
  background: #c89393;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2* 6rem) / 3);
}

.col-2-of-3 {
  width: calc( 2 * ((100% - 2* 6rem) / 3) + 6rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

[class^=col-] {
  background: #88af7f;
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.section-about {
  padding-top: 8rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #777777;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

.title-first {
  color: #FFFFFF;
}
.title-first__main {
  display: block;
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 6rem;
  letter-spacing: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation-name: leftToRight;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-timing-function: ease;
}
.title-first__second {
  display: block;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  animation-name: RightToleft;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-timing-function: ease;
  margin-bottom: 6.5rem;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 5rem;
  background-color: #FFFFFF;
}

.container {
  background-color: #F7F7F7;
  width: 100%;
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../img/header-background.jpeg) center center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.header__logo {
  position: absolute;
  left: 5rem;
  top: 5rem;
  height: 7rem;
  width: 5.6rem;
}
.header__box {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}/*# sourceMappingURL=style.css.map */